.comic-card {
    width: 176px;
}

.overlay {
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 6px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

.card-title {
    font-weight: 600;
    font-size: 14px;
    color: #f2f2f2;
}